<div class='search_form text-center'>
  <%= form_tag men_coordinates_path, method: :get do %>
    <%= select_tag :owner_id, options_from_collection_for_select(Owner.man, :id, :name, params[:owner_id]), { include_blank: 'people' } %>
    <%= button_tag type: 'submit', class: 'btn btn-default' do %>
      <i class='fa fa-search'></i>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.email == 'takuyashiratake0622@icloud.com' || current_user.email == 'awesome_95@icloud.com' %>
    <div class='post text-center'>
      <%= link_to 'Post Corde', new_coordinate_path, class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>

<ul class='gallery_box'>
  <% @owners.each do |owner| %>
    <%= link_to man_path(id: owner.id) do %>
      <li class='gallery_list'>
        <div class='gallery_img_list'>
          <%= image_tag owner.coordinates.last.photos.last.image.url(:medium), class: 'gallery_img' %>
        </div>
      </li>
      <div class='gallery_bottom_info'>
        <span class='model_name'><%= owner.name %></span>
        <span class='occupation'><%= owner.occupation %></span>
      </div>
    <% end %>
  <% end %>
</ul>
