<div class='coordinate'>
  <div class='person_name text-center'>
    <%= @coordinate.owner.name %>
  </div>
  <div class='image'>
    <% @coordinate.photos.each do |photo| %>
      <%= image_tag photo.image.url, class: 'img-responsive' %>
    <% end %>
  </div>

  <% if current_user %>
    <% if current_user.voted_up_on? @coordinate %>
      <%= render 'coordinates/remove_from_favorites' %>
    <% else %>
      <%= render 'coordinates/add_to_favorites' %>
    <% end %>
  <% else %>
    <div class='not_login'>
      <%= render 'coordinates/add_to_favorites' %>
    </div>
  <% end %>
  <hr>
  <div class='dress_season text-center'>
    dress_season: <%= @coordinate.dress_season %>
  </div>
  <hr>
  <div class='occupation text-center'>
    occupation: <%= @coordinate.owner.occupation %>
  </div>
  <hr>

  <% if current_user %>
    <% if current_user.email == 'takuyashiratake0622@icloud.com' %>
      <div class='text-center'>
        <%= link_to 'Delete', coordinate_path, method: :delete, class: 'btn btn-default' %>
      </div>
    <% end %>
  <% end %>

  <div class='show_more text-center'>
    <%= link_to 'Show more', man_path(id: @coordinate.owner), class: 'btn btn-default' %>
  </div>
</div>

<script>
  jQuery(function() {
    $('.not_login').click(function() {
      location.href = '/users/sign_in';
    })
  });
</script>
