<header class='search_form text-center'>
  <%= form_tag women_coordinates_path, method: :get do %>
    <%= select_tag :owner_id, options_from_collection_for_select(Owner.woman, :id, :name, params[:owner_id]), { include_blank: 'people' } %>
    <%= button_tag type: 'submit', class: 'btn btn-default' do %>
      <i class='fa fa-search'></i>
    <% end %>
  <% end %>
</header>

<div class='coordinates_list'>
  <% @coordinates.each do |coordinate| %>
    <%= link_to women_coordinate_path(id: coordinate.id) do %>
      <div class='list'>
        <div class='list_body'>
          <% coordinate.photos.each do |photo| %>
            <%= image_tag photo.image.url, class: 'coordinate_image' %>
          <% end %>
          <div class='name'>
            <%= coordinate.owner.name %>
          </div>
          <div class='season'>
            dress_season: <%= coordinate.dress_season %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
