<header class='search_form text-center'>
  <%= form_tag women_coordinates_path, method: :get do %>
    <%= select_tag :owner_id, options_from_collection_for_select(Owner.woman, :id, :name, params[:owner_id]), { include_blank: 'people' } %>
    <%= button_tag type: 'submit', class: 'btn btn-default' do %>
      <i class='fa fa-search'></i>
    <% end %>
  <% end %>
</header>

<% if request.from_smartphone? %>
  <ul class='gallery_box'>
    <% @coordinates.each do |coordinate| %>
      <li class='gallery_list'>
        <div class='gallery_img_list'>
          <%= image_tag coordinate.photos.first.image.url, class: 'gallery_img' %>
        </div>
      </li>
      <div class='gallery_bottom_info'>
      </div>
    <% end %>
  </ul>
<% else %>
  <ul class='pc_gallery_box'>
    <% @coordinates.each do |coordinate| %>
      <li class='gallery_list'>
        <div class='gallery_img_list'>
          <%= image_tag coordinate.photos.first.image.url, class: 'gallery_img' %>
        </div>
      </li>
      <div class='gallery_bottom_info'>
      </div>
    <% end %>
  </ul>
<% end %>
