<header class='navbar text-center'>
  <div class='form-group'>
    <%= search_form_for @search do |f| %>
      <%= f.label :person_name_cont, 'person name' %>
      <%= f.collection_select(:person_name_eq, Coordinate.select(:person_name).uniq, :person_name, :person_name, include_blank: '選択しない') %>

      <%= f.label :dress_season_cont, 'season' %>
      <%= f.collection_select(:dress_season_eq, Coordinate.select(:dress_season).uniq, :dress_season, :dress_season, include_blank: '選択しない') %>
      <%= f.submit '検索する', class: 'btn btn-default' %>
    <% end %>
  </div>
</header>

<% @coordinates.each do |coordinate| %>
  <%= link_to coordinate do %>
    <div class='coordinate_list'>
      <div class='list_body'>
        <% coordinate.photos.each do |photo| %>
          <%= image_tag photo.image.url, class: 'coordinate_image' %>
        <% end %>
        <div class='name'>
          <%= coordinate.person_name %>
        </div>
        <div class='season'>
          dress_season: <%= coordinate.dress_season %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
