<%= form_for @coordinate do |f| %>
  <% if @coordinate.errors.any? %>
    <div id='error_explanation'>
      <ul>
      <% @coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :photos do |ph| %>
    <div class='form-group post_image'>
      <i class='fa fa-camera'></i><%= ph.label :image, t('.select_photo') %>
      <%= ph.file_field :image %>
    </div>
  <% end %>

  <%= f.fields_for :owner do |person| %>
    <div class='form-group'>
      <%= person.label :name, 'person_name' %>
      <%= person.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= person.label :occupation, 'occupation' %>
      <%= person.text_field :occupation, class: 'form-control' %>
    </div>

    <div class='form-group'>
      Man<%= person.radio_button :man_flag, true %>
      Woman<%= person.radio_button :woman_flag, true %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :dress_season, 'dress_season' %>
    <%= f.text_field :dress_season, class: 'form-control' %>
  </div>

  <div class='form-group actions submit text-center'>
    <%= f.submit 'Post', class: 'btn btn-default' %>
  </div>
<% end %>
