<!DOCTYPE html>
<html>
<head>
  <title>Styly</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= render 'layouts/meta_tags' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/google_tag_manager' %>
  <header>
    <nav class='navbar navbar-custom'>
      <div>
        <% if params[:controller] == 'women' || params[:controller] == 'women_coordinates' %>
          <h3 class='logo text-center text-muted'><%= link_to 'Styly', root_path %></h3>
        <% else %>
          <h3 class='logo text-center text-muted'><%= link_to 'Styly', men_path %></h3>
        <% end %>
      </div>

      <% if params[:controller] == 'women' || params[:controller] == 'women_coordinates' %>
        <div class='man_button text-center'>
          <%= link_to 'Man', men_path, class: 'btn btn-default' %>
        </div>
      <% elsif params[:controller] == 'men' || params[:controller] == 'men_coordinates' %>
        <div class='woman_button text-center'>
          <%= link_to 'Woman', root_path, class: 'btn btn-default' %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <% if params[:controller] == 'women' || params[:controller] == 'women_coordinates' %>
          <div class='woman user_favorites text-center'>
            <%= link_to 'Favorites', favorites_path, class: 'btn btn-default' %>
          </div>
        <% elsif params[:controller] == 'men' || params[:controller] == 'men_coordinates' %>
          <div class='man user_favorites text-center'>
            <%= link_to 'Favorites', favorites_path, class: 'btn btn-default' %>
          </div>
        <% end %>
      <% else %>
        <div class='sign_in_link text-center'>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default' %>
        </div>
      <% end %>
    </nav>
  </header>

  <p class='notice text-center'><%= notice %></p>
  <p class='alert text-center'><%= alert %></p>

<%= yield %>

</body>
</html>
